<style>
    ul.payment li{
        list-style: none;
    }
    .clear-both{
        clear: both;
    }
</style>
<form action="{$wa->getUrl('shop/frontend/walletAmount/')}" method="POST">

    <h3>Сумма к оплате:</h3>
    <p>
        <input type="text" name="amount" value="100" />
    </p>

    <h3>Способ оплаты:</h3>

    <ul class="checkout-options payment">
        {foreach $checkout_payment_methods as $m}
            <li {if !empty($m.error)}class="gray"{/if}>
                <h3>
                    <label>
                        {if !empty($m.logo)}<img src="{$m.logo}" class="method-logo">{/if}
                        <br/>
                        <input {if !empty($m.error)}disabled="disabled"{/if} type="radio" name="payment_id" value="{$m.id}" {if $m.id == $payment_id}checked{/if}>
                        {$m.name|escape}
                    </label>
                </h3>
                {if $m.description}<p>{$m.description}</p>{/if}
                {if !empty($m.error)}<p class="error"><em>{$m.error}</em></p>{/if}
                {if !empty($m.custom_html)}<div class="wa-form" {if $m.id != $payment_id}style="display:none"{/if}>{$m.custom_html}</div>{/if}
                <div class="clear-both"></div>
            </li>
        {/foreach}
    </ul>
    <input type="submit" value="Оплатить" />
</form>
<script type="text/javascript">
    $(".checkout-options.payment input:radio").change(function() {
        if ($(this).is(':checked')) {
            $(".checkout-options.payment .wa-form").hide();
            $(this).closest('li').find('.wa-form').show();
        }
    });
</script>

